@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141e30;
  background: linear-gradient(to right, #24243e, #141e30, #0f0c29);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  text-transform: Uppercase;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 60px;
  color: mediumorchid;
}

p {
  font-size: 12px;
  color: purple;
  font-family: "Copperplate";
  color: white;
}

#blackcircle {
  background-color: black;
  color: white;
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#purplecircle {
  position: relative;
  background-color: mediumorchid;
  color: black;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  margin: 0 auto;
}

#eightBall {
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-top: 45%;
  color: white;
}

button {
  font-family: "Copperplate";
  background-color: white;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: darkmagenta 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 18px;
  padding: 18px 18px;
  margin-bottom: 10px;
  text-align: center;
  touch-action: manipulation;
}

button:hover {
  background-color: gray;
}

button:active {
  box-shadow: purple 2px 2px 0 0;
  transform: translate(2px, 2px);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------(Modal)------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #7c1212;
  width: 50%;
  text-align: center;
}

#modal-message {
  color: black;
  font-size: 25px;
}

.close {
  color: darkmagenta;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
